.info {
    font-size: 0.9rem;
}

.info span {
    margin-right: 40px;
    padding-left: 10px;
}

p.article_detail {
    white-space: pre-line;
    word-wrap: break-word;
}

.tbquery,
.table {
    margin-bottom: 0 !important;
}

.tbquery td,
.tbquery th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: none !important;
    border-bottom-width: 0 !important;
    font-size: .75rem;
}

.tbresult td,
.tbresult th {
    font-size: .85rem;
    padding: 5px 5px !important;
    vertical-align: middle;
}